<div id="content">
<table>
<tr>
<% @images.each do |image| %>
<td>
	<div class="imagebox">
		<div class="image">
			<a href="<%= image.picture.url %>" class="fancybox" title=<%= image.title %> >
				<%= image_tag image.picture.url(:medium), :class => "image" %> 
			</a>		
		</div>
		<div class="imagetext">
			<%= image.title %>
			<br>
			<%= image.description %>
			<br>
			<div class="exif" id="exif_<%=image.id%>" >Exif
				<div class="exifdata ">
					Cameramodel:
					<%= EXIFR::JPEG.new(image.picture.path).model %>
					<br>
					Date:
					<%= EXIFR::JPEG.new(image.picture.path).date_time  %>
					<br>
					Exposure:
					<%= EXIFR::JPEG.new(image.picture.path).exposure_time.to_s  %>
					<br>
					Width:
					<%= EXIFR::JPEG.new(image.picture.path).width %>
					<br>
					Height:
					<%= EXIFR::JPEG.new(image.picture.path).height  %>
					<br>					
					Shutter:
					<%= EXIFR::JPEG.new(image.picture.path).shutter_speed_value.to_s%>
					<br>					
					Aperture:
					<%= EXIFR::JPEG.new(image.picture.path).aperture_value.to_s%>
				</div>
			</div>
			<% if session[:user_id] %>
				<%= link_to 'Show', image %>
				<%= link_to 'Destroy', image, :confirm => 'Are you sure?', :method => :delete %>
			<% end %>
		</div>
	</div>
</td>
<% end %>
</tr>
</table>
</div>


