<!DOCTYPE html>
<html>
<head>
  <title>Photo</title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</script>
</head>
<body class="<%= controller.controller_name %>">
<div id="banner">
	<%= image_tag("logo.png") %>
	<%= @page_title || "Photo" %>
	<br>

</div>
<div id="columns">
	<div id="side"> 
		<ul>
			<li><%= link_to "Hem", root_path %></li>
			<% if session[:user_id] %>
				<li><%= link_to 'New Image', new_image_path %></li>
			<% end %> 
			<li><a href="http://www..../news">News</a></li>
		 	<li><a href="http://www..../contact">Contact</a></li>			
		</ul> 
		Logged in as <%= getCurrentUser? %>
		<div id="login_logout">
			<% if isLoggedIn? %>
				<%= link_to "Log out", login_path, method: :get %>
			<% else %>
				<%= link_to "Log in", logout_path, method: :delete %>
			<% end %>
		</div
	</div>
</div>
	<div id="main">
		<%= yield %>
	</div>


</body>
</html>
